body{
  margin: 0;
  background-image: url(
https://images.squarespace-cdn.com/content/v1/596a0fa2bebafbf177669597/1562172017696-INJUVGKJ93F3L5KSRWMH/ke17ZwdGBToddI8pDm48kJK4Mm1kch8SFO9ZNkN1NT97gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmoW6VMYd7DRFXOxjGuORbJVRIz_X6uKxhFE9bwG5-diIJ9kj42L3XbtP_RiBprpp_/loopLandLogo.gif
  )
}
header{
  background-color: red;
  height: 75px;
  margin-bottom:25px;
}
article{
  background-color: #add1b9;
  width:60vw;
  margin: 0 auto;
  padding:15px;
}
nav{
  float:left;
  width:15vw;
  background-color: #e4dac5;
  margin-top: -25px;
}
nav-2{
  float:right;
  width:13.5vw;
  background-color: lime;
  padding:5px;
  margin-right: 10px;
}
nav-3{
  float:left;
  width: 15vw;
  background-color: blueviolet;
  padding: 10px;
  margin-left: -200px;
  margin-top: -100px;

}

footer{
  background-color: mediumaquamarine;
  position:fixed;
  bottom: 0px;
  width: 100%;
  height: 75px;
}
