body{
  margin: 0;
}
header{
  background-color: red;
  height: 75px;
  margin-bottom:25px;
}
article{
  background-color: #add1b9;
  width:60vw;
  margin: 0 auto;
  padding:15px;
}
nav{
  float:left;
  width:15vw;
  background-color: #e4dac5;
  margin-top: -25px;
}
nav-2{
  float:right;
  width:15vw;
  background-color: lime;
  padding:5px;

}

footer{
  background-color: mediumaquamarine;
  position:fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
}